*{
  box-sizing: border-box;
}
body {
 background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

h1  
{
	color:orange;
	}
h2
	{
		 background-color: darkblue; color: yellow;
		 
	}

 
p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
